<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col col-md-4" style="padding:5%;">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Add Employee</legend>
      <form>
        <label for="first_name">First Name</label>
        <input type="text" [(ngModel)]="first_name" name="first_name" class="form-control" placeholder="Enter The First Name" required><br>
        <label for="last_name">Last Name</label>
        <input type="text" [(ngModel)]="last_name" name="last_name" class="form-control" placeholder="Enter the Last Name" required><br>
        <label for="phone">Phone</label>
        <input type="text" [(ngModel)]="phone" name="phone" class="form-control" placeholder="Enter Phone Number" required><br>
        <button type="button" class="btn btn-success" (click)="saveContact()">Submit</button>
      </form>
    </fieldset>
  </div>
  <div class="col col-md-8" style="padding:5%;">
    <h4>Employee List</h4>

   
      <form>
          <div class="col col-md-12">
            <input type="text" class="form-control" [(ngModel)]="search_key" name="search_key" placeholder="Search Employee" aria-describedby="basic-addon2">
          </div>
        <div class="col col-md-2">
          <button class="btn btn-success" type="submit" (click)="searchContact()" hidden>Search</button>
        </div>
      </form>
    <br>

      <table class="table border">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let obj of contacts">
          <tr>
            <td>{{ obj.first_name }}</td>
            <td>{{ obj.last_name }}</td>
            <td>{{ obj.phone }}</td>
            <td>
              <div class="btn-group">
                  <button class="btn" style="background-color:whitesmoke;" (click)="editEmployee(obj._id)"> <i class="fas fa-edit" style="color:darkblue"></i> </button>
                  <button class="btn" style="background-color:whitesmoke;" (click)="deleteEmployee(obj._id)"> <i class="fas fa-trash-alt" style="color:red"></i> </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group" style="left:40%;">
        <button class="btn btn-primary" (click)="prevPage()" [disabled]="page==0 "> < Prev Page</button>
        <button class="btn btn-primary" (click)="nextPage()" [disabled]="page>=(count/5)-1 ">Next Page > </button>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
